<p>
  Hello <%= @resource.email %>
</p>
<p>
  Please click on the link below to enable your account on the Modaxo R&D Summit voting app.
</p>
<p>
  <%= link_to "Enable Account", accept_invitation_url(@resource, invitation_token: @token) %>
</p>

<p>
  Kind regards,<br/>
  Peter
</p>
