Hello <%= @resource.email %>

Please click on the link below to enable your account on the Modaxo R&D Summit voting app.

<%= link_to "Enable Account", accept_invitation_url(@resource, invitation_token: @token) %>

Kind regards,<br/>
Peter
</p>
